@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@font-face {
  font-family: customFont;
  src: url(./assets/DS-DIGI.TTF);
}
.simulation-container object {
  position: relative;
  width: 100%;
}

div object {
  width: 100%;
  height: 100%;
}

.col {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

#stopwatch-button,
#power-btn,
#checker {
  cursor: pointer;
}

.terminals,
#resistor,
#capacitor {
  animation: none 4s linear infinite;
  cursor: pointer;
}

@keyframes glow-comp {
  0% {
    stroke-width: 0.4%;
  }
  50% {
    stroke-width: 1.25%;
  }
  100% {
    stroke-width: 0.4%;
  }
}

.ab{
  width: 40px;
  border: 1px solid #000;
}

#supercapacitor-head,
#disKey {
  fill: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#wire1,
#wire2,
#wire3,
#wire4,
#wire5,
#wire6,
#wire7,
#wire8 {
  display: none;
}

.replacement {
  transform: matrix(1.35, 0, 0, 1.35, -28.5, -60);
}

.hidden {
  display: none;
}

.unhidden {
  display: block;
}

/* #output-box{
  display: none;
} */

@media (min-width: 1200px) {
  .container {
    max-width: 95% !important;
    margin-top: 1%;
  }
}

.fcol {
  width: 39%;
}

.scol {
  width: 61%;
  padding: 0% 2% 0% 2%;
}

form {
  height: 50%;
}

.table {
  display: block;
  width: 60%;
  max-width: 100%;
  /* overflow-x: auto; */
  /* display: flex;
    height: 50%; */
  justify-content: center;
  margin-bottom: 0px !important;
  /* vertical-align: middle; */
}

table {
  /* width: 50%; */
  width: 80%;
  max-width: 100px;
  table-layout: auto; /* Allow columns to adjust automatically */
  border-collapse: collapse;
  text-align: center;
  margin: 0 0.5%;
}
#table {
  width: 100%;
  /* border-collapse: collapse; */
  /* table-layout: fixed; */
}
#table th, #table td {
  /* border: 1px solid #ccc; */
  /* padding: 8px; */
  text-align: center;
  word-wrap: break-word;
  user-select: none;
  pointer-events: none;
  
}
th,
td {
  padding: 4px;
  text-align: center;
  font-size: 9px;
  word-wrap: break-word;
  white-space: nowrap;
  max-width: 52px;
  height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
}
input{
  
  border: 0;
}
th {
  background-color: #212529;
  color: #fff;
  /* height: 20px; */
}

.tablehead,
.obs {
  /* background-color: #007bff; */
  color: #fff;
}

.tablehead h4,
.tablehead h5 {
  margin-bottom: 0px;
}

.srno1,
.curr1,
.voltage1,
.srno2,
.curr2,
.voltage2 {
  text-align: center;
  border: 0px;
  padding: 0 !important;
  margin: 0 !important;
}

.srno1,
.srno2 {
  width: 40%;
}

.curr1,
.voltage1,
.curr2,
.voltage2 {
  width: 40%;
}

.obs {
  background-color: #007bff;
  text-align: center;
  padding: 1%;
  margin: 0 0.5%;
}

th,
tr,
td,
.obs {
  word-wrap: break-word;
  text-align: center;
  border: 2px solid #dee2e6;
}

.table table td,
.table table th {
  padding: 0;
  vertical-align: middle;
}

tr {
  height: 5%;
  font-size: 1vw;
}

.graph {
  padding: 1% 0%;
  height: 100%;
}

.graph canvas {
  width: 84% !important;
  height: 100% !important;
  margin-left: 3%;
  margin-top: 2%;
}

.simulation-container .btn-sbt {
  margin-left: 40%;
  margin-top: 2%;
  display: none;
}

.pulse {
  fill: white;
  fill-opacity: 0;
  /* transform-origin: -1297px 190px; */
  animation-duration: 3s;
  animation-name: none;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 1;
  /* stroke: yellow; */
}

@keyframes pulse {
  0% {
    stroke-width: 20px;
    stroke-opacity: 1;
    transform: scale(0.3);
  }
  100% {
    stroke-width: 0;
    stroke-opacity: 0.5;
    transform: scale(2);
  }
}

.one {
  transform-origin: -800px -80px;
}

.two {
  transform-origin: -330px -120px;
}

.three {
  transform-origin: -820px -190px;
  /* z-index: -10; */
  /* cursor: pointer; */
}

.four {
  transform-origin: -1062px -12px;
}

.five {
  transform-origin: -1350px -32px;
}

.six {
  transform-origin: -1100px -85px;
}
.seven {
  transform-origin: -1393px -85px;
}
.eight {
  transform-origin: -540px -350px;
}
.nine {
  transform-origin: -550px 90px;
}
.ten {
  transform-origin: -550px 220px;
}
.eleven {
  transform-origin: -1394px 45px;
}
.resistor {
  transform-origin: 680px -600px;
}

.capacitor {
  transform-origin: 540px -270px;
}
#g9 {
  cursor: pointer;
}
#snackbar {
  visibility: hidden;
  min-width: 250px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 2%;
  z-index: 1;
  font-size: 1.2vw;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 2.5s 4.5s;
  animation: fadein 0.5s, fadeout 2.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

#key1,
#key2 {
  display: none;
}

.key-up-down {
  animation: up-down 3s linear infinite;
  stroke: yellow !important;
  stroke-width: 2px !important;
}

@keyframes up-down {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0px, -3px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@media only screen and (max-width: 767px) {
  .row {
    display: flex;
    flex-flow: column-reverse;
  }

  .table table td,
  .table table th {
    padding: 0;
    vertical-align: middle;
    height: 5%;
    font-size: 2vw;
  }

  tr {
    height: 5%;
    font-size: 2vw;
  }

  .spc {
    margin-top: 5px;
  }

  .bt {
    /* margin-bottom: 10px; */
    margin-top: 8px;
  }

  .bg {
    background-color: rgb(144, 180, 247);
    text-decoration: #000000;
  }
  .fb {
    font-size: 6.7px;
  }
  .btn-sbt {
    margin-left: 35%;
  }
}

